---

- name: Ensure metabase has started (this can take a while...)
  ansible.builtin.uri:
    url: "http://localhost:{{ metabase_port }}/api/session/properties"
    status_code: 200
  register: metabase_api_session
  until: metabase_api_session is not failed
  retries: 10
  delay: 6

- name: Submit initial configuration
  ansible.builtin.uri:
    url: "http://localhost:{{ metabase_port }}/api/setup"
    method: POST
    body:
      token: "{{ metabase_api_session.json['setup-token'] }}"
      user:
        first_name: "{{ metabase_admin.first_name }}"
        last_name: "{{ metabase_admin.last_name }}"
        email: "{{ metabase_admin.email }}"
        password: "{{ metabase_admin.password }}"
      prefs:
        site_name: "{{ metabase_prefs.site_name }}"
    body_format: json
    status_code: 200, 403
    return_content: true
    headers:
      Accept: "application/json"
      Content-Type: "application/json"
  register: metabase_api_setup
  failed_when: false
  when:
    - metabase_api_session is defined
    - metabase_api_session.json["setup-token"]

- name: Create initial databases
  ansible.builtin.include_tasks: add_database.yml
  vars:
    metabase_session: "{{ metabase_api_setup }}"
  loop: "{{ metabase_databases }}"
  loop_control:
    loop_var: database_item
  when:
    - metabase_api_session is defined
    - metabase_api_session.json["setup-token"]
    - "'The /api/setup route can only be used to create the first user' not in (metabase_api_setup.content | default(''))"
