---

- name: Create log dir
  ansible.builtin.file:
    path: "{{ metabase_log_dir }}"
    state: directory
    mode: "0744"
    owner: "{{ metabase_user }}"
    group: "{{ metabase_group }}"
  become: true

- name: Create app dir
  ansible.builtin.file:
    path: "{{ metabase_app_dir }}/{{ metabase_version }}"
    state: directory
    mode: "0750"
    owner: root
    group: "{{ metabase_group }}"
  become: true

- name: Download metabase
  ansible.builtin.get_url:
    url: "https://downloads.metabase.com/{{ metabase_version }}/metabase.jar"
    dest: "{{ metabase_jarfile }}"
    owner: root
    group: "{{ metabase_group }}"
    mode: "0750"
  become: true

- name: Setup metabase logging configuration file
  ansible.builtin.template:
    src: log4j2.xml.j2
    dest: "{{ metabase_log4j2_file }}"
    owner: "{{ metabase_user }}"
    group: "{{ metabase_group }}"
    mode: "0644"
  become: true
  notify: Restart metabase

- name: Add metabase service
  ansible.builtin.template:
    src: metabase_service.j2
    dest: /etc/systemd/system/metabase.service
    mode: "0750"
  become: true
  notify:
    - reload systemd
    - restart metabase
    - remove old versions

- name: Enable metabase service
  ansible.builtin.service:
    name: metabase
    state: started
    enabled: true

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
